<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/edit.css" />
    <title>Personal Blog Web App</title>
  </head>
  <body>
    <header>
      <div class="left">
        <img src="/polar bear.png" alt="" />
      </div>

      <div class="center">
        <a href="/"><h1>blog web app</h1></a>
      </div>
      <div class="right"></div>
    </header>
  </body>
</html>
